#Aryan1.testimonialCard {

    background: linear-gradient(90deg, #E1E7EE 0%, #FFFFFF 100%, #FFFFFF 100%);
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    height: 662px;
    display: flex;
    width: 100%;
    margin-bottom: 8%;
}
#Aryan1.testimonialCardAlt{
    background: linear-gradient(-90deg, #E1E7EE 0%, #FFFFFF 100%, #FFFFFF 100%);
    background-color: #FFFFFF;

    align-items: center;
    justify-content: center;
    height: 662px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 8%;
}

#Aryan1.caseDets {
    width: 50%;
    margin: 3.5%;
    top: 0%;
}

#Aryan1.testimonialIdentity {
    display: flex;
    margin: 4%;
}


#Aryan1.testimonialRect {
    height: 23.433530807495117px;
    width: 44.35995864868164px;
    border-radius: 0px;
    margin-top: 3%;

}



#Aryan1.testimonialPatientName {

    font-size: 38px;
    font-weight: 500;
    line-height: 57px;
    letter-spacing: 0em;
    color: #43578B;
    margin-left: 3%;

}

#Aryan1.testimonialCase {
    font-size: 30px;
    font-weight: 500;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #676767;
    ;

}

#Aryan1.patient_img {
    width: 89px;
    height: 90.16px;
    top: 30.92px;
    margin: 1%;
    margin-left: 5%;

}

#Aryan1.testimonialTimeline {
    display: flex;
    margin: 4%;
}

#Aryan1.testimonialIdImg {
    height: 35.735382080078125px;
    width: 45.945499420166016px;

}

#Aryan1.testimonialId {
    margin: 1%;
    font-weight: 400;
    font-size: 19.75px;
    line-height: 17.63px;
    color: #787373;
    margin-left: 19px;
}

#Aryan1.testimonialTitle {
    display: flex;
    margin: 4%;
}

#Aryan1.titleImg {
    height: 35.0501708984375px;
    width: 56.2125358581543px;
}

#Aryan1.titleText {
    width: fit-content;
    margin: 1%;
    font-weight: 300;
    font-size: 19.75px;
    line-height: 17.63px;
    color: #787373;
    margin-left: 10px;
}

#Aryan1.testimonialPatientDets {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin: 4%;

}

#Aryan1.testimonialCardFooter {
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-left: 13%;
    margin-left: 2%;
}


#Aryan1.testimonialrating {
    margin: -3%;
    width: 155px;
    height: fit-content;
}

#Aryan1.patientImgDiv {
    width: 50%;
}

#Aryan1.testimonialPatientImg {
    width: 70%;
    height: 80%;
    margin: 8.5%;
    margin-left: 19%
}

@media screen and (max-width: 986px) {

    .testimonialPatientDets {
        font-size: 17px;
        line-height: 23px;

    }
}
@media screen and (max-width: 764px) {
    #Aryan1.testimonialPatientImg {
        width: 60%;
        height: 70%;

        margin-top: 19%
    }
    #Aryan1.testimonialCard {
        flex-direction: column-reverse;
    }

    #Aryan1.testimonialCardAlt {
        flex-direction: column-reverse;
    }
    #Aryan1.testimonialIdentity {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0%;
    }
    #Aryan1.testimonialTimeline {
        display: flex;
        margin-top: 1%;
    }
    #Aryan1.testimonialTitle {
        display: flex;
        margin-top: 1%;
    }
    #Aryan1.testimonialRect {
        margin-top: 1%;
    }
    #Aryan1.caseDets {
        width: 90%;
        margin-top: 0%;
    }

    #Aryan1.testimonialPatientName {
        font-size: 28px;
        line-height: 50px;
    }

    #Aryan1.testimonialPatientDets {
        font-size: 15px;
        line-height: 25px;

    }

    #Aryan1.testimonialIdImg {
        height: 30.735382080078125px;
        width: 40.945499420166016px;
    }

    #Aryan1.testimonialId {

        font-size: 17.75px;
        line-height: 15.63px;

    }
    #Aryan1.patientImgDiv {
        width: 90%;
        height: 50%;

    }

    /* .testimonialTimeline {
justify-content: center;
    } */
}
@media screen and (max-width: 584px) {


    #Aryan1.testimonialPatientName {
        font-size: 24px;
        line-height: 48px;
    }

    #Aryan1.testimonialPatientDets {
        font-size: 15px;
        line-height: 25px;

    }

   #Aryan1.testimonialIdImg {
        height: 30.735382080078125px;
        width: 40.945499420166016px;
    }

    #Aryan1.testimonialId {

        font-size: 17.75px;
        line-height: 15.63px;

    }
    #Aryan1.patientImgDiv {
        width: 90%;
        height: 50%;

    }
}